Flask                     ~= 3.0
Flask-bcrypt              ~= 1.0
Flask-cors                ~= 5.0
Flask-JWT-Extended        ~= 4.6
Flask-Swagger-UI          ~= 4.11
Flask-UUID                ~= 0.2
gunicorn                  ~= 23.0
loguru                    ~= 0.7
mongoengine               == 0.29.1
pydantic                  == 2.9.2
prometheus-flask-exporter ~= 0.23
requests                  ~= 2.32
yarqueue                  == 0.4.1